.root {
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.footer {
  margin-top: auto;
}
.product {
  min-height: 650px;
  padding-top: 30px;
  width: 800px;
  @media (min-width: 768px) and (max-width: 1024px) {
    width: 600px;
  }
  @media (min-width: 640px) and (max-width: 768px) {
    width: 500px;
  }
  @media (max-width: 640px) {
    width: 300px;
  }
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.item {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  @media (min-width: 640px) and (max-width: 768px) {
    max-height: 550px;
  }
  @media (max-width: 640px) {
    flex-direction: column;
    justify-content: space-between;
  }
}
.tocart {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  justify-items: end;
  @media (max-width: 640px) {
    grid-template-rows: repeat(4, 1fr);
  }
}
.title {
  padding-left: 40px;
  grid-area: 1 / 1 / 2 / 2;
  font-weight: bold;
  font-size: 22px;
}
.price {
  padding-top: 10px;
  grid-area: 2 / 1 / 3 / 2;
}
.quantity {
  grid-area: 4 / 1 / 5 / 2;
  @media (max-width: 640px) {
    grid-area: 3 / 1 / 4 / 2;
  }
  display: flex;
  span {
    padding-right: 5px;
  }
  .quantitybutton {
    display: flex;
    justify-content: space-between;
    width: 115px;
    height: 25px;
    background: rgb(226, 226, 226);
    button {
      background: rgb(226, 226, 226);
      border: 0px solid black;
    }
    button:disabled {
      &:hover {
        background: rgb(226, 226, 226);
        cursor: default;
      }
    }
    .plus {
      user-select: none;
      cursor: pointer;
      text-align: center;
      width: 35px;
      &:hover {
        background: rgb(193, 193, 193);
      }
    }
    .minus {
      user-select: none;
      cursor: pointer;
      text-align: center;
      width: 35px;
      &:hover {
        background: rgb(162, 162, 162);
      }
    }
  }
  @media (max-width: 768px) {
    .quantitybutton {
      width: 95px;
      height: 25px;
      .plus {
        width: 25px;
      }
      .minus {
        width: 25px;
      }
    }
  }
}

.add {
  grid-area: 5 / 1 / 6 / 2;
  @media (max-width: 640px) {
    grid-area: 4 / 1 / 5 / 2;
  }
  width: 200px;
  height: 50px;
  border: 0px solid black;
  background: rgb(19, 19, 19);
  color: white;
  cursor: pointer;
  &:hover {
    background: rgb(64, 64, 64);
  }
}
.description {
  padding-top: 30px;
  :nth-child(1) {
    font-weight: bold;
  }
  :nth-child(2) {
    padding-top: 10px;
    text-align: justify;
  }
}
.category {
  padding-top: 10px;
  padding-bottom: 30px;
  font-size: 18px;
  span {
    font-size: 18px;
  }
}
.imagewrapp {
  width: 400px;
  @media (min-width: 640px) and (max-width: 768px) {
    width: 300px;
    display: flex;
    align-items: center;
  }
  @media (max-width: 640px) {
    width: 250px;
  }
}
.img {
  max-width: 100%;
  min-width: 300px;
  height: auto;
  cursor: default;
}
