.root {
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.footer {
  margin-top: auto;
}

.box {
  min-height: 630px;
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
}
.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  @media (max-width: 768px) {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}
.wrapp {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  text-align: center;
  max-width: 400px;
  width: 100%;
  max-height: 300px;
  cursor: auto;
}
.wrappimg {
  height: auto;
  width: 150px;
}
.wrapptext {
  max-width: 200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
img {
  max-height: 400px;
  cursor: default;
  max-width: 100%;
  display: block;
}
.title {
  font-weight: 500;
  cursor: default;
  &:hover {
    text-decoration: none;
  }
}
.price {
  align-self: center;
  padding: 5px 0;
}
.quantity {
  padding-bottom: 10px;
  font-size: 18px;
}
.delete {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 28px;
  border: 0px;
  font-size: 16px;
  align-self: flex-end;
  svg {
    padding-right: 0px;
  }
  background-color: rgba(0, 0, 0, 0);
}
.total {
  margin-top: 30px;
  background-color: rgb(245, 245, 245);
  height: 300px;
  max-width: 350px;
  width: 100%;
  text-align: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  hr {
    width: 100%;
    height: 2px;
    background-color: black;
  }
  .continue {
    border: 0px;
    background-color: black;
    width: 230px;
    padding: 10px;
    color: white;
    cursor: pointer;
  }
}
.empty {
  padding-top: 100px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
