.root {
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 20px;
}
.product {
  width: 220px;
  height: 450px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  text-align: center;
  padding: 10px;
  padding-bottom: 0px;
  font-size: 18px;
}
.wrapp {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 220px;
  height: 450px;
  cursor: auto;
}
.price {
  align-self: center;
}
.title {
  cursor: pointer;
  &:hover {
    text-decoration: none;
  }
}
img {
  max-height: 400px;
  cursor: pointer;
  cursor: default;
}
.empty {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.delete {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 125px;
  border: 0px;
  padding: 0 10px 0 5px;
}
