.root {
  height: auto;
  background: rgb(19, 19, 19);
  color: rgb(228, 228, 228);
}
.footer {
  padding-top: 30px;
  width: 800px;
  @media (min-width: 768px) and (max-width: 1024px) {
    width: 600px;
  }
  @media (min-width: 640px) and (max-width: 768px) {
    width: 500px;
  }
  @media (max-width: 640px) {
    width: 300px;
  }
  @media (max-width: 640px) {
    width: 80vw;
  }
  margin: 0 auto;
  text-align: center;
  font-family: 'Nunito', Roboto, system-ui, Tahoma, sans-serif;
  :first-child {
    font-family: 'Nunito', Roboto, system-ui, Tahoma, sans-serif;
  }
}
.text {
  font-family: 'Nunito', Roboto, system-ui, Tahoma, sans-serif;
  font-size: 18px;
  padding-top: 20px;
  padding-bottom: 20px;
}
